# **Dictionary In Python**

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'xyz' , 'age' : 24 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

 ## **Create Dictionary**

In [51]:
# empty 
d = {}
print(d)

#1D
d1 = {'name':'xyz', 'Age':23, 'gender':'male'}
print(d1)

# with mixed keys
d2 = {(2,2,3):1,'hello':'world'}
print(d2)

# 2D dictionary 
s = {
    'name':'ramesh',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
print(s)

# using sequence and dict function
d4 = dict([('name','xyz'),('age',23),(3,3)])
print(d4)

#mutable items keys
d6 = {'name':'xyz', (1,2,3):2}
print(d6)

{}
{'name': 'xyz', 'Age': 23, 'gender': 'male'}
{(2, 2, 3): 1, 'hello': 'world'}
{'name': 'ramesh', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}
{'name': 'xyz', 'age': 23, 3: 3}
{'name': 'xyz', (1, 2, 3): 2}

## **Accessing Items**

In [52]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict['name'] # you have to write keys

'Jack'

## **Adding key pair**

In [53]:
print(d4)

{'name': 'xyz', 'age': 23, 3: 3}

In [54]:
d4['gender'] = 'male'
print(d4)

d4['weight'] = 70
print(d4)

{'name': 'xyz', 'age': 23, 3: 3, 'gender': 'male'}
{'name': 'xyz', 'age': 23, 3: 3, 'gender': 'male', 'weight': 70}

## **Remove key-value pair**

In [55]:
d = {'name': 'xyz', 'age': 24, 3: 3, 'gender': 'male', 'weight': 72}

# pop
d.pop(3) # it remove three
print(d)

#popitems
d.popitem() # it remove last item in the dictionary
print(d)

# del
del d['name']
print(d) 

#clear
d.clear() # it clear dictionary
print(d)

{'name': 'xyz', 'age': 24, 'gender': 'male', 'weight': 72}
{'name': 'xyz', 'age': 24, 'gender': 'male'}
{'age': 24, 'gender': 'male'}
{}

## **Editing key-value pair**

In [56]:
print(s)

{'name': 'ramesh', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [57]:
s['subjects']['dsa'] = 80
s

{'name': 'ramesh',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'maths': 67, 'english': 34}}

## **Dictionary Operations**

- Membership
- Iteration

In [58]:
print(s)

{'name': 'ramesh', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'maths': 67, 'english': 34}}

In [59]:
# membership 
'name' in s

True

In [60]:
'ramesh' in s # it use on it keys not on values

False

In [61]:
# ITERATION 
for i in s:
  print(i,s[i])

name ramesh
college bit
sem 4
subjects {'dsa': 80, 'maths': 67, 'english': 34}

## **Dictionary Functions**

In [62]:
print(s)

{'name': 'ramesh', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'maths': 67, 'english': 34}}

In [64]:
# len/sorted
print(len(s))

sorted(s)

4

['college', 'name', 'sem', 'subjects']

In [65]:
# items/keys/values

print(s.items())

print(s.keys())

print(s.values())

dict_items([('name', 'ramesh'), ('college', 'bit'), ('sem', 4), ('subjects', {'dsa': 80, 'maths': 67, 'english': 34})])
dict_keys(['name', 'college', 'sem', 'subjects'])
dict_values(['ramesh', 'bit', 4, {'dsa': 80, 'maths': 67, 'english': 34}])

In [66]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

## **Dictionary Comprehension**

In [67]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [68]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [69]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [70]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [71]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}