# **Working with Series in Pandas: Cricket and Bollywood Datasets**

### **Importing Libraries:**
   - The code starts by importing the necessary Python libraries, including pandas (as 'pd') and NumPy (as 'np').

In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

### **Reading a CSV File with Pandas:**
   - The code uses the `pd.read_csv()` function to read a CSV file located at '/content/kohli_ipl.csv'. It sets the 'match_no' column as the index and uses the `squeeze=True` parameter to read the data as a pandas Series.

In [3]:
vk = pd.read_csv('/content/kohli_ipl.csv',index_col='match_no',squeeze=True)
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

**Displaying the 'vk' Series:**
   - The code then displays the 'vk' Series, which represents data related to cricket matches with the match number as the index and the number of runs scored by a player.

### **Reading Another CSV File:**
   - The code reads another CSV file located at '/content/bollywood.csv' and assigns it to the 'movies' Series. It sets the 'movie' column as the index.

In [4]:
movies = pd.read_csv('/content/bollywood.csv',index_col='movie',squeeze=True)
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

**Displaying the 'movies' Series:**
   - The 'movies' Series is displayed, containing data related to Bollywood movies with the movie title as the index and the lead actor's name as the data.

## **Series methods**

In [5]:
# head and tail

# `head()`: Displays the first 5 rows of the 'vk' Series.
vk.head()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [6]:
# head(10): Displays the first 10 rows of the 'vk' Series.
vk.head(10)

match_no
1      1
2     23
3     13
4     12
5      1
6      9
7     34
8      0
9     21
10     3
Name: runs, dtype: int64

In [7]:
# tail -> last 5 rows
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [8]:
# `sample()`: Retrieves a random sample from the 'movies' Series.
movies.sample()

movie
Dhund (2003 film)    Amar Upadhyaya
Name: lead, dtype: object

In [9]:
# `sample(5)`: Retrieves 5 random samples from the 'movies' Series.
movies.sample(5)

movie
Halla Bol                     Ajay Devgn
Shaadi No. 1                Fardeen Khan
Karma Aur Holi            Rati Agnihotri
Patiala House (film)        Rishi Kapoor
Chaalis Chauraasi       Naseeruddin Shah
Name: lead, dtype: object

In [10]:
# `value_counts()`: Counts the number of occurrences of each lead actor in the 'movies' Series.
movies.value_counts()

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64

In [11]:
# `sort_values()`: Sorts the 'vk' Series in ascending order.
vk.sort_values()

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [12]:
# `sort_values(ascending=False)`: Sorts the 'vk' Series in descending order.
vk.sort_values(ascending=False).head(1).values[0]

113

In [13]:
#`sort_index(ascending=False)`: Sorts the 'movies' Series by index in descending order.
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [14]:
# sort_index
movies.sort_index(ascending=False)

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

In [15]:
# inplace -> for permanant change
movies.sort_index(ascending=False,inplace=True)

**In-Place Sorting:**
   - The code shows how to perform in-place sorting by using the `inplace=True` argument with the `sort_index()` method for the 'movies' Series.

In [16]:
movies

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

## **Series Maths Methods**

In [17]:
# `count()`: Counts the number of non-null elements in the 'vk' Series
vk.count()

215

In [18]:
# `sum()`: Calculates the total runs scored by the player in the 'vk' Series
vk.sum()

6634

In [19]:
# `mean()`: Calculates the mean (average) value of the 'vk' Series.
# `median()`: Calculates the median (middle) value of the 'vk' Series.
# `mode()`: Calculates the mode (most frequent value) of the 'vk' Series.'''

print(vk.mean())
print('---------')
print(vk.median())
print('---------')
print(movies.mode())
print('---------')
print(vk.std())
print('---------')
print(vk.var())

30.855813953488372
---------
24.0
---------
0    Akshay Kumar
Name: lead, dtype: object
---------
26.22980132830278
---------
688.0024777222343

In [20]:
# min/max
vk.min()

0

In [21]:
vk.max()

113

In [22]:
# `describe()`: Provides summary statistics for the 'vk' Series, including count, mean, standard deviation, min, max, and quartiles.
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64