# **Pandas Interview Questions(Part2)**

### `1. Explain the process of merging two dataframe in pandas`

Merging two DataFrames in Pandas involves combining their rows based on a common column (or index) called the key. This operation is similar to SQL joins. Pandas provides the merge() function to perform various types of joins between two or more DataFrames.

Step 1: Import Pandas

In [1]:
import pandas as pd

Step 2: Create Two DataFrames
Assuming you have two DataFrames, df1 and df2, with a common key column:

In [2]:
# Example DataFrames
data1 = {'Key': ['A', 'B', 'C'], 'Value1': [1, 2, 3]}
data2 = {'Key': ['A', 'B', 'D'], 'Value2': ['X', 'Y', 'Z']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

Step 3: Choose the Type of Join
Decide on the type of join you want to perform. The common types are:

* Inner Join (how='inner'): Keeps only the rows with keys present in both DataFrames.
* Outer Join (how='outer'): Keeps all rows from both DataFrames and fills in missing values with NaN where there is no match.
* Left Join (how='left'): Keeps all rows from the left DataFrame and fills in missing values with NaN where there is no match in the right DataFrame.
* Right Join (how='right'): Keeps all rows from the right DataFrame and fills in missing values with NaN where there is no match in the left DataFrame.

Step 4: Merge the DataFrames

In [4]:
# Performing the merge (for example, an inner join)
merged_df = pd.merge(df1, df2, on='Key', how='inner')
merged_df

  Key  Value1 Value2
0   A       1      X
1   B       2      Y

In this example, we're performing an inner join based on the 'Key' column. The resulting DataFrame (merged_df) will have columns from both original DataFrames, and rows where the 'Key' values match in both DataFrames.

### `2.What is purpose of the groupby function in pandas?`

The `groupby` function in Pandas is used for grouping data based on some criteria, and it is a powerful and flexible tool for data analysis and manipulation. The primary purpose of `groupby` is to split the data into groups based on some criteria, apply a function to each group independently, and then combine the results back into a DataFrame.

Here's an overview of the purpose and usage of the `groupby` function:

### Purpose of `groupby`:

1. **Data Splitting:**
   - `groupby` is used to split the data into groups based on one or more criteria, such as a column's values or a combination of columns.

2. **Operations on Groups:**
   - After splitting the data into groups, you can perform operations on each group independently. This might include aggregations, transformations, filtering, or other custom operations.

3. **Aggregation:**
   - One of the most common use cases for `groupby` is to perform aggregation operations on each group, such as calculating the mean, sum, count, minimum, maximum, etc.

4. **Data Transformation:**
   - `groupby` allows you to apply transformations to the groups and create new features or modify existing ones.

5. **Filtering:**
   - You can use `groupby` in combination with filtering operations to select specific groups based on certain conditions.

### `3.Expalin the difference between Series and DataFrame in Pandas`

In Pandas, both Series and DataFrame are fundamental data structures, but they serve different purposes and have distinct characteristics.

### Series:

1. **1-Dimensional Data Structure:**
   - A Series is essentially a one-dimensional labeled array that can hold any data type, such as integers, floats, strings, or even Python objects.

2. **Homogeneous Data:**
   - All elements in a Series must be of the same data type. It is a homogeneous data structure.

3. **Labeled Index:**
   - Each element in a Series has a label (index), which can be customized or can be the default integer index. This index facilitates easy and efficient data retrieval.

4. **Similar to a Column in a DataFrame:**
   - A Series is similar to a single column in a DataFrame. In fact, you can think of a DataFrame as a collection of Series with the same index.

5. **Creation:**
   - You can create a Series from a list, NumPy array, or dictionary.

In [11]:
import pandas as pd

# Creating a Series from a list
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s

a    1
b    2
c    3
d    4
dtype: int64

### DataFrame:

1. **2-Dimensional Data Structure:**
   - A DataFrame is a two-dimensional tabular data structure where you can store data of different data types. It consists of rows and columns.

2. **Heterogeneous Data:**
   - Different columns in a DataFrame can have different data types, making it a heterogeneous data structure.

3. **Labeled Index and Columns:**
   - Similar to a Series, a DataFrame also has a labeled index for rows, and additionally, it has labeled columns. The column names can be customized.

4. **Collection of Series:**
   - A DataFrame can be thought of as a collection of Series. Each column is a Series, and the columns share the same index.

5. **Creation:**
   - You can create a DataFrame from a dictionary, a list of dictionaries, a NumPy array, or another DataFrame.

In [12]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['John', 'Jane', 'Bob'],
        'Age': [28, 24, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)
df

   Name  Age           City
0  John   28       New York
1  Jane   24  San Francisco
2   Bob   22    Los Angeles

In summary, while both Series and DataFrames have labeled indices and support various operations, a Series is a one-dimensional array, and a DataFrame is a two-dimensional table. Series are often used to represent a single column, while DataFrames are used to represent a collection of columns with potentially different data types.

### `4.what is purpose ofthe apply unction in pandas, and how is it used?`

The `apply` function in Pandas is a powerful tool used for applying a function along the axis of a DataFrame or a Series. It is particularly useful for performing element-wise operations, transformations, or custom functions on the data. The primary purpose of `apply` is to allow users to apply a function to each element in a DataFrame or Series, row-wise or column-wise.

### Purpose of `apply`:

1. **Element-wise Operations:**
   - Apply allows you to perform element-wise operations on each element in a Series or DataFrame.

2. **Custom Functions:**
   - You can use `apply` to apply custom functions that you define to each element or row/column of your data.

3. **Aggregation:**
   - When used with DataFrames, `apply` can be used for column-wise or row-wise aggregation.

4. **Function Composition:**
   - `apply` is often used in combination with lambda functions or other callable objects, allowing for flexible and concise code.



### Examples:

In [15]:
#### Example 1: Element-wise Operation on Series
import pandas as pd

# Creating a Series
s = pd.Series([1, 2, 3, 4])

# Applying a square function element-wise
result_series = s.apply(lambda x: x**2)
result_series

0     1
1     4
2     9
3    16
dtype: int64

In [16]:
#### Example 2: Applying a Function to Each Column in a DataFrame


import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Applying a sum function column-wise
result_dataframe = df.apply(sum, axis=0)
result_dataframe

A     6
B    15
dtype: int64

In [17]:
#### Example 3: Applying a Function to Each Row in a DataFrame

# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Applying a sum function row-wise
result_dataframe = df.apply(sum, axis=1)
result_dataframe

0    5
1    7
2    9
dtype: int64

In these examples, the `apply` function is used to perform operations on each element in a Series or each row/column in a DataFrame. The flexibility of `apply` makes it a versatile tool for various data manipulation tasks in Pandas.

### `5.Explain the concept of Pivot Tables in pandas`

In Pandas, a pivot table is a data summarization tool that allows you to reshape and analyze your data by aggregating and restructuring it. Pivot tables provide a way to rearrange, reshape, and aggregate data in a DataFrame to gain insights and perform complex analyses more efficiently. The concept is inspired by Excel's pivot table functionality.

### Key Concepts of Pivot Tables:

1. **Rows and Columns:**
   - In a pivot table, you specify which columns of the original DataFrame should become the new index (rows) and which columns should become the new columns.

2. **Values:**
   - You specify which columns of the original DataFrame should be used as values in the new table. These values are then aggregated based on the specified rows and columns.

3. **Aggregation Function:**
   - You can specify an aggregation function to apply to the values. Common aggregation functions include sum, mean, count, max, min, etc.

### How to Create a Pivot Table:

- **`df`:** The original DataFrame.
- **`values`:** The column to aggregate (can be a list if you want to aggregate multiple columns).
- **`index`:** The column(s) to become the new index.
- **`columns`:** The column(s) to become the new columns.
- **`aggfunc`:** The aggregation function to apply to the values.

### Example:

In [23]:
import pandas as pd

# Creating a sample DataFrame
data = {'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
        'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
        'Temperature': [32, 75, 30, 78],
        'Humidity': [80, 10, 85, 12]}

df = pd.DataFrame(data)
print(df)

print('-----------------------------------------------------------------------------')

# Creating a pivot table to show average temperature for each city on each date
pivot_table = pd.pivot_table(df, values='Temperature', index='Date', columns='City', aggfunc='mean')

print(pivot_table)

         Date         City  Temperature  Humidity
0  2022-01-01     New York           32        80
1  2022-01-01  Los Angeles           75        10
2  2022-01-02     New York           30        85
3  2022-01-02  Los Angeles           78        12
-----------------------------------------------------------------------------
City        Los Angeles  New York
Date
2022-01-01           75        32
2022-01-02           78        30

In this example, the pivot table calculates the average temperature for each city on each date. The resulting table will have dates as rows, cities as columns, and the average temperature as values.

Pivot tables are particularly useful for exploring and summarizing data with multiple dimensions, making complex data analysis tasks more accessible and efficient. They allow you to quickly gain insights into your data's patterns and relationships.