# **Pandas Questions**

### `Que-1: Write a program to create an empty series.`

In [2]:
import pandas as pd

# Creating an empty series
empty_series = pd.Series()


print(empty_series)

Series([], dtype: object)

### `Que-2: Write a Pandas program to add, subtract, multiple and divide two Pandas Series.`

In [5]:
# Creating two Pandas Series
series1 = pd.Series([1, 2, 3, 4])
series2 = pd.Series([5, 6, 7, 8])

# Addition
addition_result = series1 + series2

# Subtraction
subtraction_result = series1 - series2

# Multiplication
multiplication_result = series1 * series2

# Division
division_result = series1 / series2



print("\nAddition Result:\n", addition_result)
print("Subtraction Result:\n", subtraction_result)
print("Multiplication Result:\n", multiplication_result)
print("Division Result:\n", division_result)

Addition Result:
 0     6
1     8
2    10
3    12
dtype: int64
Subtraction Result:
 0   -4
1   -4
2   -4
3   -4
dtype: int64
Multiplication Result:
 0     5
1    12
2    21
3    32
dtype: int64
Division Result:
 0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64

### `Que-3: Write a Pandas program to compare the elements of the two Pandas Series.`
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [6]:
# Creating two Pandas Series
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])

# Comparing elements
comparison_result_greater = series1 > series2
comparison_result_less = series1 < series2
comparison_result_equal = series1 == series2



print("\nElements in Series 1 greater than Series 2:\n", comparison_result_greater)
print("Elements in Series 1 less than Series 2:\n", comparison_result_less)
print("Elements in Series 1 equal to Series 2:\n", comparison_result_equal)

Elements in Series 1 greater than Series 2:
 0     True
1     True
2     True
3     True
4    False
dtype: bool
Elements in Series 1 less than Series 2:
 0    False
1    False
2    False
3    False
4    False
dtype: bool
Elements in Series 1 equal to Series 2:
 0    False
1    False
2    False
3    False
4     True
dtype: bool

### `Que-4.Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.`

```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```

In [7]:
def convert_to_dtype(series, target_dtype):
    # Convert the series to numeric values
    numeric_series = pd.to_numeric(series, errors='coerce')
    
    # Convert the numeric series to the target data type
    converted_series = numeric_series.astype(target_dtype)
    
    return converted_series


input_series = pd.Series([1, 2, 'Python', 2.0, True, 100])
target_data_type = float

converted_series = convert_to_dtype(input_series, target_data_type)

# Displaying the results
print("Original Series:\n", input_series)
print("\nConverted Series to", target_data_type, ":\n", converted_series)

Original Series:
 0         1
1         2
2    Python
3       2.0
4      True
5       100
dtype: object

Converted Series to <class 'float'> :
 0      1.0
1      2.0
2      NaN
3      2.0
4      1.0
5    100.0
dtype: float64